<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Text</th>
        <th>CreateDate</th>
        <th colspan="3"></th>
    </tr>

    <% @articles.each do |article| %>
        <tr>
            <td><%= article.id %></td>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td><%= article.created_at %></td>
            <td><%= link_to 'Show', article_path(article) %></td>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article_path(article), method: :delete,
                data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
    <% end %>
</table>

  <%-# <%= render 'youku', :code => "XOTEwMDI4MzI4", :title => "Another embeded Video" -%>


    <script type="text/javascript">
    window.onload=function() {
      var inst = ABP.create( document.getElementById('load-player'), {
        'src': document.getElementById('video-1'),
        'width': 800,
        'height': 522
      });
      CommentLoader('xml/comment-otsukimi.xml', inst.cmManager);
    }
    </script>
    <p>Danmaku HTML5</p>
    <video id="video-1" autobuffer="true" data-setup="{}" width="800" height="450">
      <source src="/media/otsukimi_recital.mp4" type="video/mp4">
      <p>Your browser does not support html5 video!</p>
    </video>
    <div id="load-player"></div>
