<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p> 

<% content_for :player do %>
  <link rel="stylesheet" href="/build/css/base.min.css?1" />
  <script src="/build/js/CommentCoreLibrary.min.js"></script>
  <script src="/build/js/ABPlayer.min.js"></script>

    <script type="text/javascript">
    window.onload=function() {
      var inst = ABP.create( document.getElementById('load-player'), {
        'src': document.getElementById('video-1'),
        'width': 900,
        'height': 800
      });
      CommentLoader('xml/comment-otsukimi.xml', inst.cmManager);
    }
    </script>
<% end %>

<%#= File.join(Rails.root, "/public/media/", @article.text) %>
<%#= File.exist?( File.join(Rails.root, "/public/media/", @article.text) ) %>
<p>视频较大，请缓冲后观看！</p>
<% if File.exist?( File.join(Rails.root, "/public/media/", @article.text) ) %>
  <video id="video-1" autobuffer="true" data-setup="{}" width="100" height="60">
      <source src="/media/<%= @article.text %>" type="video/mp4">
      <p>Your browser does not support html5 video!</p>
    </video>
    <div id="load-player"></div>
<% end %>


<p>
  <strong>ID:</strong>
  <%= @article.id %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back to Articles', articles_path, class: "cbutton cblue" %>
<%= link_to 'Edit', edit_article_path(@article), class: "cbutton cgray" %>

