
<p> Created at <%= @position %></p>

<p>-</p>
<p><%= link_to 'Home Page', welcome_index_path, class: "cbutton orange" %> | 
<%= link_to 'Articles', articles_path, class: "cbutton orange" %>
</p>
<p>-</p>
<p><%= link_to 'Albums', albums_path, class: "cbutton orange" %> | 
<%= link_to 'Upload More Videos', videos_path, class: "cbutton blue" %>
</p>