
<p> Created at <%= @position %></p>

<%= link_to 'Home Page', welcome_index_path, class: "button orange" %>
 | 
<%= link_to 'Articles', articles_path, class: "button orange" %>
 | 
<%= link_to 'Albums', albums_path, class: "button orange" %>
 | 
<%= link_to 'Upload More Videos', videos_path, class: "button blue" %>
