
<%= form_for @album, :html => { :class => 'form-horizontal', multipart: true } do |f| %>

  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>
      <ul><% @album.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <% @album.images.each do |i| %>
      <p><%= image_tag i.picture.url(:large) %><%= link_to '原图', i.picture.url(:original) %>
      <textarea rows="5" name="album[images][][description]" placeholder="Enter Description:" style="width:350px;"><%= i.description %></textarea>
    <% end %>

  </div>

  <div class="control-group">
    <%= f.label :images, :class => 'control-label' %>
    <div class="controls">
      <!-- The magic is coming ...look at my eyes....shazammmm -->
      <%= file_field_tag "pictures[]", type: :file, multiple: true %>
    </div>
  </div>
  <br><br><br><br>
  
  <div class="form-actions">
    <%= f.submit nil, class: 'cbutton cblue' %>
    <%= link_to "Back", albums_path, class: 'cbutton cgray' %>
  </div>

<% end %>