<% content_for :scale do %>
  <meta name="viewport" content="width=device-width" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
<% end %>


<h1><%= @album.name %></h1>
<h3><%= @album.created_at %> [<%= @album.id %>]</h5>

<h4><%= @album.description %></h4>

<% @album.images.each do |image| %>
  <br>
  <pre class="fix" id="<%= image.id %>">↓↓<%= sanitize image.description %></pre> <%#h(image.description).gsub(/\n/, '<br/>').html_safe %>
  
  <p><%= image_tag image.picture.url(:large), width: "100%" %></p>
  <p>[<%= image.id %>]<%= link_to '查看原图', original_image_path(image), class: "button pink" %>
    (
    <% if image.picture_file_size > 1024*1024 %><%= (image.picture_file_size/1024/1024).to_s + "MB" %>
    <% else %><%= "[" + (image.picture_file_size/1024).to_s + "KB]" %><% end %>
    )
  </p>
<% end %>


<%= link_to 'Edit', edit_album_path(@album), class: "button grey" %> |
<%= link_to 'Back', albums_path, class: "button blue" %>
