<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>File Size</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image.url %></td>
        <td><%= image.description %></td>
        <td><% if image.picture_file_size > 1024*1024 %><%= (image.picture_file_size/1024/1024).to_s + "MB" %>
          <% else %><%= "[" + (image.picture_file_size/1024).to_s + "KB]" %><% end %>
        </td>

        <td><%= link_to 'Show', image, class: 'cbutton cblue' %></td>
        <td><%= link_to 'Edit', edit_image_path(image), class: 'cbutton cgray' %></td>
        <td><%= link_to 'Destroy', image, class: 'cbutton cred', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', 'images#new', class: 'cbutton cblue' %>
