<h3>请注意流量，本图<%= @size %></h3>
<p>[<%= @image.id %>]<%= @image.description %></p>

<p><%= image_tag @image.picture.url(:original), :width => "450" %></p>

<%= link_to 'Back', album_path(@image.album_id, anchor: @image.id) %>

