<% content_for :scale do %>
<% end %>


<h3>请注意流量，本图<%= @size %></h3>
<p class="fix">[<%= @image.id %>]<%= @image.description %></p>

<p><%= image_tag @image.picture.url(:original), width: "100%" %></p>


<p>------------------------------------</p>
<%= link_to 'Back', album_path(@image.album_id, anchor: @image.id), class: "button blue" %>

