<h1>Images#show</h1>

<p><strong>ID:</strong><%= @image.id %></p> 
<p><strong>Url:</strong><%= @image.url %></p> 
<p><strong>Description:</strong><%= @image.description %></p>


<p>
  Original size: <%= @size %>
  <%= link_to 'Link', @image.picture.url(:original) %>
  <%= link_to 'OriginalView', original_image_path(@image) %>
</p>

<p>Medium <%= image_tag @image.picture.url(:medium) %></p>
<p>Small <%= image_tag @image.picture.url(:small) %></p>

<%= link_to 'Back to Images', images_path, class: 'cbutton cgray' %>
<%= link_to 'Edit', edit_image_path(@image), class: 'cbutton cgray' %>

