<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= yield :scale %>
  <title>高清旅游-微信版</title>

<!--
  <link rel="stylesheet" href="/build/css/base.min.css?1" />
  <script src="/build/js/CommentCoreLibrary.min.js"></script>
  <script src="/build/js/ABPlayer.min.js"></script> 
-->
<!-- 
  <link rel="stylesheet" href="/build/css/styles/monokai_sublime.css" />
  <script src="/build/js/highlight.js"></script> 
  <script>hljs.initHighlightingOnLoad();</script>
-->
  <link rel="stylesheet" href="/build/css/main.css" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63955512-1', 'auto');
    ga('send', 'pageview');

  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;width:99%; border:thin dotted pink;">

  <p style="color: green; border: thin dotted green; margin:0;"><%= flash[:notice] %></p>
  <p style="color: red; border: thin dotted red; margin:0;"><%= flash[:error] %></p>
  <p style="color: blue; border:thin dotted blue; margin:0; font-size:0.5em;"><%= flash[:req_ip] %></p>

  <%= yield %>

</body>
</html>
