<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>高清旅游-微信版</title>

  <link rel="stylesheet" href="/build/css/base.min.css?1" />
  <script src="/build/js/CommentCoreLibrary.min.js"></script>
  <script src="/build/js/ABPlayer.min.js"></script> 

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;width:454px; border:thin dotted pink;">

  <p style="color: green; border: thin dotted green; margin:0;"><%= flash[:notice] %></p>
  <p style="color: red; border: thin dotted red; margin:0;"><%= flash[:error] %></p>
  <p style="color: blue; border:thin dotted blue; margin:0; font-size:0.5em;"><%= flash[:req_ip] %></p>

  <%= yield %>

</body>
</html>
